<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sanniiityyy Suite">
    <test verbose="2" preserve-order="true" name="mytest1">
        <classes>
            <class name="scenarios.TC1">
            </class>
        </classes>
    </test>
</suite>